.sidebar{
    width: 7%;
    height: 80vh;
    background-color: #309BAE;
    display: flex;
    flex-direction: column;
    //padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    i{
        font-size: 3rem;
    }
}

// .container_frame {
//     height: ;
// }